/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--content-text-clr);
}

:root {
  --content-text-clr: #989898;
  --headings-text-clr: #131313;
  --aside-text-clr: #fff;

  --aside-bg-clr: #1992d4;
  --main-bg-clr: #e2e8f0;
  --content-bg-clr: #fff;
  --card-side-clr: #f0b429;

  --large-font-size: clamp(1rem, 2vw, 2rem);
  --medium-font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.bold,
.bold * {
  font-weight: 700;
}

.round {
  border-radius: 50%;
}

img {
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* LAYOUT STYLES */

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: min(25vw, 300px) 1fr;
  grid-template-rows: 1fr 5fr;
}

aside {
  background-color: var(--aside-bg-clr);
  grid-row: 1 / -1;
  padding-top: 30px;
  padding-left: clamp(5px, 2.5vw, 40px);

  display: grid;
  grid-template-rows: var(--large-font-size) auto 1fr;
  align-items: start;
  row-gap: calc(var(--large-font-size) * 3);
}

aside h1 {
  font-size: calc(var(--large-font-size) + 0.6rem);
}

aside * {
  color: var(--aside-text-clr);
  font-size: var(--large-font-size);
}

aside img {
  height: 90%;
}

.heading img {
  height: 100%;
}

.heading,
.aside-list {
  display: block;
  width: 90%;
}

.aside-list {
  line-height: var(--large-font-size);
  display: grid;
  grid-auto-rows: 1.5lh;
  row-gap: calc(var(--large-font-size) / 1.5);
}

.heading,
.aside-list li {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 5px;
  align-items: center;
  background-color: red;
}

nav {
  background-color: var(--content-bg-clr);
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  padding: 5px max(5px, 7%);
}

nav * {
  color: var(--headings-text-clr);
}

nav .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left,
.right {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 5%;
}

.left {
  grid-template-columns: auto minmax(20%, 400px);
  justify-content: start;
}

.left h2 {
  font-size: var(--large-font-size);
}
.left .pfp {
  height: 50%;
}

.right {
  grid-template-columns: repeat(3, auto);
  justify-content: end;
}

.right .nickname {
  font-size: var(--medium-font-size);
}

input[type="search"] {
  background-color: var(--main-bg-clr);
  appearance: none;
  border: none;
  border-radius: 10px;
  width: 120%;
  height: calc(var(--large-font-size) + 3px);
  font-family: inherit;
  padding: 5px;
}

/* Remove default search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button[type="submit"] {
  appearance: none;
  background: none;
  border: none;
}

.link-button {
  background-color: var(--aside-bg-clr);
  border: none;
  border-radius: 15px;
  padding: max(7px, 0.5vw) clamp(2px, 3vw, 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button a {
  color: #e2e8f0;
  font-size: 110%;
}

main {
  background-color: var(--main-bg-clr);
}

/* INTERACTIVITY */

.link-button:hover {
  cursor: pointer;
}

/* Remove default black outline on focus */
input[type="search"]:focus-visible {
  outline: none;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  body {
    grid-template-columns: 40px 1fr;
  }

  aside {
    align-items: center;
  }

  .aside-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .aside-list li {
    width: 20px;
  }

  .aside-list li a,
  h1 {
    display: none;
  }
}
