/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--content-text-clr);
}

:root {
  --content-text-clr: #989898;
  --headings-text-clr: #131313;
  --aside-text-clr: #fff;

  --aside-bg-clr: #1992d4;
  --main-bg-clr: #e2e8f0;
  --content-bg-clr: #fff;
  --card-side-clr: #f0b429;

  --large-font-size: clamp(1rem, 2vw, 1.8rem);
  --medium-font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.bold,
.bold * {
  font-weight: 700;
}

.round {
  border-radius: 50%;
}

.card p {
  color: var(--content-text-clr);
  margin-top: 5px;
}

.vertical {
  display: grid;
  grid-template-rows: var(--large-font-size);
  align-items: center;
}

img {
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: var(--large-font-size);
}

h3 {
  font-size: var(--medium-font-size);
}

/* LAYOUT STYLES */

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: min(25vw, 300px) 1fr;
  grid-template-rows: 1fr 5fr;
}

aside {
  --preferred-gap: calc(var(--large-font-size) * 3);

  background-color: var(--aside-bg-clr);
  grid-row: 1 / -1;
  padding-top: 30px;
  padding-left: clamp(5px, 2.5vw, 40px);

  display: grid;
  grid-template-rows: var(--large-font-size) auto 1fr;
  align-items: start;
  row-gap: max(20px, var(--preferred-gap));
}

aside * {
  color: var(--aside-text-clr);
  font-size: var(--large-font-size);
}

aside .heading * {
  font-size: calc(var(--large-font-size) + 0.6rem);
}

.aside-list li * {
  font-size: var(--large-font-size);
}

.aside-list {
  line-height: var(--large-font-size);
  display: grid;
  grid-auto-rows: 1.5lh;
  row-gap: calc(var(--large-font-size) / 1.5);
}

.heading,
.aside-list li {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  column-gap: 0.5lh;
}

aside img {
  height: 1lh;
  margin: 0 auto;
}

nav {
  padding: 15px 0;
  background-color: var(--content-bg-clr);
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
}

nav * {
  color: var(--headings-text-clr);
}

nav .row {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 600px));
}

.left,
.right {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 5%;
}

nav .row img {
  height: 1.5lh;
}

.left {
  grid-template-columns: auto minmax(20%, 400px);
  justify-content: start;
}

.row:last-child .left .pfp {
  height: 4lh;
}

.right {
  grid-template-columns: repeat(3, auto);
  justify-content: end;
}

.row:first-child .right .pfp {
  height: 2.5lh;
}

input[type="search"] {
  background-color: var(--main-bg-clr);
  appearance: none;
  border: none;
  border-radius: 10px;
  width: 120%;
  height: calc(var(--large-font-size) + 3px);
  font-family: inherit;
  padding: 5px;
}

/* Remove default search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button[type="submit"],
.action-button {
  appearance: none;
  background: none;
  border: none;
}

.link-button {
  background-color: var(--aside-bg-clr);
  border: none;
  border-radius: 15px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button a {
  color: #e2e8f0;
  line-height: 50%;
  font-size: 1lh;
}

main {
  background-color: var(--main-bg-clr);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  padding: 3vh 20px;
}

main * {
  color: var(--headings-text-clr);
}

.column {
  padding: 20px 10px;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.column.left {
  display: grid;
  grid-template-rows: var(--medium-font-size) 1fr;
}

.column.right {
  display: grid;
  grid-template-rows: var(--medium-font-size) 1fr var(--medium-font-size) 1fr;
  justify-items: center;
}

.column.right > * {
  width: min(100%, 330px);
}

.column.right h2 {
  text-align: left;
}

.column > div {
  height: 100%;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 180px;
  column-gap: 20px;
  row-gap: 15px;
}

.cards-section .card {
  background-color: var(--aside-text-clr);
  border-left: 7px solid var(--card-side-clr);
  border-radius: 8px;
  padding: 5%;

  display: grid;
  grid-template: 1fr 1fr / 1fr;
  align-items: center;
  row-gap: 10px;
}

.cards-section .card p {
  max-width: 80%;
}

.cards-section .card .actions {
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 30px;
  justify-content: end;
  align-self: end;
}

.action-button img {
  width: 100%;
}

.announcements-section,
.trending-section {
  background-color: var(--aside-text-clr);
  display: grid;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
}

.announcements-section {
  grid-auto-rows: 1fr 1px;
}

.announcements-section .separator {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.announcements-section .card {
  background-color: var(--aside-text-clr);
  padding-left: 1vw;
}

.announcements-section .card p {
  margin-top: 5px;
  max-width: 300px;
  position: relative;
}

.trending-section {
  grid-auto-rows: 100px;
  justify-content: center;
  align-content: space-evenly;
}

.trending-section .card {
  display: grid;
  grid-template-columns: auto minmax(50px, 200px);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 20px;
}

.trending-section .card .pfp {
  height: min(4vw, 36px);
}

.vertical .black {
  color: var(--headings-text-clr);
  font-size: calc(var(--medium-font-size) - 2px);
}

/* INTERACTIVITY */

button:hover {
  cursor: pointer;
}

/* Remove default black outline on focus */
input[type="search"]:focus-visible {
  outline: none;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
  body {
    grid-template-columns: 40px 1fr;
  }

  aside {
    padding: 0;
    justify-content: center;
    padding-top: 10px;
  }

  .heading,
  .aside-list li {
    grid-template-columns: auto;
  }

  .aside-list li a,
  h1 {
    display: none;
  }
}
